h5 {
  color: orange;
}

td {
  color: brown;
  font-size: x-large;
}
table {
  color: aqua;
}
nav {
  background-color: black;
  color: gainsboro;
  font-size: 0.75rem;
  width: 100vw;
}
ul {
  list-style: none;
}
li {
  display: inline;
  /* border: 2px solid red; */
  width: 6rem;
}
