/* CSS selectors */

/* Element selector */
html {
  background-color: black;
}
/* #ID selector */
#li1 {
  color: orange;
}
/* .class selector */
.li-box {
  color: purple;
}
/* element,element Selector
  element AND element 
  */
table,
.li-box {
  border: 2px solid black;
}
/* element element Selector
  aka element inside element 
  */
div p {
  color: brown;
}
/* element>element	 Selector  
  element parent element 
  */
div > p {
  color: blue;
}
/* element1~element2 Selector 
  element preceded element */
table ~ ol {
  font-size: 4rem;
}
