/* CSS selectors */

/* Element selector */
html {
  background-color: gray;
}
/* #ID selector */
#li1 {
  color: orange;
}
/* .class selector */
.li-box {
  color: purple;
}
/* element,element Selector
  element AND element 
  */
table,
.li-box {
  border: 2px solid green;
}
/* element element Selector
  aka element inside element 
  */
div p {
  color: brown;
}
/* element>element	 Selector  
  element parent element 
  */
div > p {
  color: blue;
}
/* element1~element2 Selector 
  element preceded element */
table ~ ol {
  font-size: 4rem;
}
/* element+element  Selector
  element immediately after element */
ol + div {
  background-color: aqua;
}
/* [attribute] Selector */
[name] {
  background-color: chocolate;
}
/* [attribute=value] Selector  */
[name="user-name"] {
  border: 2px solid red;
}
/* [attribute~=value] Selector
  containing the value */
[class~="this"] {
  background-color: orange;
}
/* [attribute^=value] Selector
  begins with the value */
[name^="user"] {
  font-size: 0.4rem;
}
/* [attribute$=value] Selector
  value ends with  */
[class$="class"] {
  border: 2px solid pink;
}
[class*="long"] {
  /* border: 3px solid hotpink; */
  height: 3rem;
}

/* longTrip long using * -> longTrip long */
/* longTrip long using ~ -> long */

/* pseudo class  */
table:hover {
  background-color: chartreuse;
}

/* :nth-child() */
/* 1st, 2nd , 3th, 4th, 5th, nth */
tr:nth-child(3) td:nth-child(3) {
  color: red;
}
tr:nth-child(5n) {
  background-color: brown;
}
tr:nth-child(1) :nth-child(n + 1):nth-child(-n + 2) {
  border: 3px dashed blue;
}
/* rem, em, in, cm, %, px */

/* Hej, this is upstream */
